################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RainfallApi/RainfallApi/obj
/.vs
/RainfallApi/.vs/RainfallApi
/RainfallApi/RainfallApi.Application/obj
/RainfallApi/RainfallApi.Core/obj
/RainfallApi/RainfallApi.Handler/obj
/RainfallApi/RainfallApi.Infrastracture/obj
/RainfallApi/.vs/ProjectEvaluation
/RainfallApi/RainfallApi/bin/Debug/net7.0
/RainfallApi/RainfallApi.Core/bin/Debug/net7.0
